.card{
    border: 1px solid gainsboro;
    padding: 20px;
    margin: 12px auto;
    text-align: left;
    width: 400px;
    border-radius: 4px;
}
.image{
    display: block;
    width: 300px;
    padding: 12px ;
    margin: auto;
    text-align: center; 
}

.btn-1{
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 10px;
    font-size: large;
    background-color: orange;
}


input{
    width: 100%;
    padding: 15px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 10px;
    border-color: orange;
}

.list{
    text-align: left;
    padding: 15px;
}